.abonents {
	background-image: url(../images/abonents.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: relative;
	padding-bottom: 0;
	
	.wrapper {
		padding-left: 380px;
		position: relative;
		@include m800 {
            padding: 0 10px;
        }
	}

	.santechnik {
		position: absolute;
		bottom: 0;
		left: -44px;
		@include m800 {
             display: none;
        }
	}

	h2 {
		margin-bottom: 40px;

		&+small {
			display: block;
			text-align: center;
			font-size: 16px;
			line-height: 28px;
			margin-bottom: 30px;
		}
	}


	&__works {
		width: calc(100% + 190px);
		margin-left: -190px;
		background-color: rgba(255, 255, 255, .9);
		padding: 30px 0 25px 170px;
		text-align: center;
		@include m800 {
            width: 500px;
            margin-left: 0;
            padding: 20px 10px;
            display: block;
            margin: 0 auto;
        }
        @include m500 {
        	width: 100%;
        }

		h3 {
			font-size: 18px;
			margin-bottom: 30px;
			line-height: 28px;
		}

		ul {
			margin: 0;
			text-align: left;
			display: inline-block;
			padding-bottom: 16px;

			&+small {
				display: block;
			}

			li {
				margin-bottom: 15px;
				position: relative;
				padding-left: 20px;
				list-style: none;

				&:before {
					content: '';
					width: 12px;
					height: 12px;
					margin-top: -6px;
					left: 0;
					position: absolute;
					background-image: url(../images/check-blue.png);
					background-size: 100%;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					top: 50%;
				}
			}
		}
	}

	&__presentation {
		width: calc(100% + 380px);
		margin-left: -380px;
		background-color: #fff;
		z-index: 5;
		position: relative;
		padding: 20px 0 30px;
  		box-shadow: 0px 0px 48px 0px rgba( 8, 70, 82, .31);
  		bottom: -100px;
  		@include m1000 {
  			width: calc(100% + 280px);
  			margin-left: -320px;
  		}
  		@include m800 {
  			width: 100%;
  			margin: 0 auto;
  			padding: 20px 10px 30px;
  		}
  		@include m500 {
  			.button {font-size: 14px;}
  		}


		.title {
			font-size: 29px;
			color: $blue;
			font-family: $ibr;
			margin-bottom: 20px;
			@include m800 {
	  			font-size: 24px;
	  		}
	  		@include m600 {
	  			font-size: 20px;
	  		}
	  		@include m500 {
	  			font-size: 18px;
	  		}
		}
	}
}
