// COLORS
// ---------------------------
$blue:			#1f8ea4;
$grey:			#58595b;
$greyD:         #231F20;
$yellow:		#fece0a;



$colorGreyL: #808182;
// FONTS
// ---------------------------
$ibr:			'intro_boldregular';

$ms:			'museo_sans_cyrl300';
$msb:			'museo_sans_cyrl700';


// RESPONSIVE
// ---------------------------
$tablets:		'max-width: 1000px';
$phones:		'max-width: 750px';


// TYPOGRAPHIC
// ---------------------------
html, body                    	{   height: 100%;
									color: $grey;
									font-family: $ms;
									font-size: 16px; }

h1, h2, h3, h4, h5              {   font-family: $msb;
									font-weight: normal; }

h2 								{ 	font-size: 30px;
									text-transform: uppercase; }

strong 							{	font-family: $msb;
									font-weight: normal; }

.white {
	color: #FFF;
}
// lAYOUT
// ---------------------------

.wrapper                      	{   width: 960px;
								   	margin: 0 auto;
                                   	text-align: center;
                              	}
header 							{}
aside 							{}
main 							{}
footer 							{}