@import 'reset';
@import 'slick';
@import 'slick-theme';
@import 'magnific-popup';
@import 'fonts';
@import 'settings';
@import 'mixins';
@import 'buttons';




/*

CSS clearfix----------  @extend %clearfix;

CSS vertical align 
with before  ---------  @extend %clearfix;

CSS position----------  @include position(absolute, auto, 0, auto, 0);

CSS transition--------  @include transition(all, .2s);
CSS transform---------  @include transform(rotate(45deg));
CSS animation---------  @include animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms);

CSS FLEX--------------  @include flex($alignI: center, $justify: space-between,  $direction: row, $wrap: nowrap);	  
CSS FLEX direction----  @include flexDirection(column);
  
CSS Triangle----------  @include triangle(left, $size: 6px, $color: #222);
CSS text ending ------  @include textEnd($overflow: ellipsis); // values are: clip, ellipsis, or a string
CSS tooltip-----------  @include tooltiptooltip($content: attr(data-tooltip), $direction: top);


*/


h2 {
    font: 30px $ibr;
    text-transform: uppercase;
    display: inline-block;
    border-top: 3px solid $yellow;
    border-bottom: 3px solid $yellow;
    padding: 2px 0;
    color: $blue;
      @include m800 {
            font: 26px $ibr;
      }
      @include m600 {
            font: 24px $ibr;
      }
      @include m500 {
            font: 22px $ibr;
      }
}
.subtitle {
    font: 16px/28px $ms;
    margin-top: 50px;
    strong {
        font: 16px/28px $msb;
    }
    @include m600 {
        font: 14px/24px $ms;
        margin-top: 30px;
        strong {
            font: 14px/24px $msb;
        }
    }
    @include m360 {
        font: 13px/22px $ms;
        strong {
            font: 13px/22px $msb;
        }
    }
}

h3 {
    font: 29px $ibr;
    color: #1F8EA4;
    @include m600 {
            font-size: 26px;
      }
      @include m500 {
            fofont-size: 20px;
      }
}
/*---------------------- 
    HEADER STYLES
------------------------*/
body {
    position: relative; 
    padding-top: 157px;
    @include m1000 {
        padding-top: 0;
    }
    }
section {padding: 65px 0;}
header {
            margin: 0;
            left:0;
            @include position(absolute, 0, auto, auto, 0);
            width: 100%;
            z-index: 100;
            height: 100px;
            background-color: #FFF;
            @include transition(all, .4s);
        
    @include m1000 {
             @include position(fixed, 0, auto, auto, -100%);
             width: 260px !important;
             height: 100%;
             overflow: scroll;
             text-align: center;
             margin-top: 0;
             padding: 20px 0;
             z-index: 100;
             background-color: $greyD;
             
             &.active {left: 0;}
             &:after {display: none;
        }
    }
    @media (max-width: 1000px) and (min-height: 600px) {
        @include flex($alignI: center, $justify: center,  $direction: column-reverse);  
    }
            
     /*-------- header_info ---------*/       
    .header__info {
         background: url('../images/header_info_bg.jpg') repeat center center;
         height: 100%;
        .wrapper {
             @include flex();   
             height: 100%;
        }
         
        .logo {
                position: relative;
                height: 100px;
                display: block;
                &:before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                }
            em {
                    font: 12px/18px $ms;
                    margin-left: 13px;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: left;
                }
            img {
                    display: inline-block;
                    vertical-align: middle;
            }
        }

        .contactUs {
            color: #484748;
            text-align: left;
            a {
                display: block;
                text-align: left;
                font: 20px $ibr;
                color: #484748;
            } 
            .tel {
            }
            .mail {
            }
            span  {
                font: 12px $ms;
            }  
            &__tel span {
                color: $blue;
            }
        }
        @include m1000 { 
            background: transparent;
            height: auto;
            .wrapper {
                width: 100%;
                display: block;
            }
            .logo {
                    width: 100%;
                    height: auto;
                & img {
                    display: block;
                    width: 200px;
                    margin: 10px auto;
                }
                em {
                    color: #FFF;
                    text-align: center;
                    display: block;
                    width: 100%;
                    margin-left: 0;
                    font-size: 18px;
                }
                margin-bottom: 20px;
            }
            .contactUs {
                color: #FFF;
                text-align: center;
                margin: 20px 0;
                a {
                    text-align: center !important;
                    color: #FFF;
                }
                span {
                    color: #FFF;
                }
            }

        }
        @include m600 {
            .logo {
                margin-bottom: 0;
                img {
                    width: 150px;
                    margin-top: 0;
                }
                em {
                    font-size: 14px;
                }
            }
            .contactUs {
                margin: 5px auto;
                a {
                    font-size: 16px;
                }
            }
        }
    }/*-------- end header__info ---------*/     


    /*-------- nav ---------*/
    nav {
        width: 100%;
        background-color: $greyD;
        position: absolute;
        top: 100px;
        z-index: 10;
        @media (min-width: 1000px) {
            &.hasScrolled {
                top: 0;
                position: fixed;
            }
        }
        & ul {
            @include flex();
            list-style-type: none;
            margin: 0;
            @media (min-width: 1000px) {
                li:before,
                li:last-of-type:after {content: " ";
                margin-right: 6px;
                vertical-align: middle;
                width: 1px;
                height: 30px;
                background-color:  #393637;
                display: inline-block;}   
            }
            &  a {
                    font:  13px $ibr;
                    text-transform: uppercase;
                    color: #FFF;
                    display: inline-block;
                    padding: 22px 14px 15px;
                    text-decoration: none;
                    border-bottom: 4px solid transparent;
                    @include transition(all, .1s);
                &:hover {border-bottom: 4px solid $yellow;}
                &.active {border-bottom: 4px solid $yellow;}
            }

        }

        @include m1000 { 
            display: block;
            height: 300px;
            width: 100%;
            overflow: scroll;
            position: relative;
            position: static;
            margin-top: 30px;
                & ul { 
                    @include flexDirection(column);
                    width: 100% !important;
                    height: 100%;
                }
                li:before {display: none;}
                    &  li a  {   
                        margin: 0 0 5px 0;
                        padding: 0 0 4px 0;
                        &.active {color: #ECCC1D;}
                        &:hover  {background: transparent;}
                    } 
        }
        @include m600 {
            height: auto;
            li {
                margin-bottom: 5px;
            }
        }
    }/*-------- end nav ---------*/  
    &.hasScrolled nav {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        @include m1000 { 
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
    }  
       
}/*-------- end header ---------*/       

.logo--mobile {
    @include position(absolute, 20px, 0, auto, 0);
    display: none;
    margin: auto;
    z-index: 3;
    @include m1000 {
        display: block; 
    }
}





/* ------- menu toggle --------- */
.menu-button                  {    
                                    display: none;
                                    width: 50px;
                                    height: 50px;
                                    @include position(fixed, 15px, 15px, auto, auto);
                                    margin: auto; 
                                    cursor: pointer;
                                    z-index: 100;
                                    background-color: #2C2D2E;
                                    border: none;
                                    -webkit-border-radius: 4px;
                                            border-radius: 4px;
      .menu-line                    {
                                          display: block;
                                          @include position(absolute, auto, 0, auto, 0);
                                          width: 60%;
                                          height: 5px;
                                          background-color: #fff;
                                          -webkit-border-radius: 1px;
                                          border-radius: 1px;
                                          @include transition(all, .4s);
      }

      .top_line                     {   top: 12px;  margin: auto;}
      .middle_line                  {   top: 22px;  margin: auto;}
      .bottom_line                  {   bottom: 12px; margin: auto;}

      &.active                      {   -webkit-border-radius: 6px; border-radius: 6px;}
      &.active .top_line            {   @include transform(rotate(45deg)); top: 45%;}
      &.active .bottom_line         {   @include transform(rotate(-45deg)); bottom: 45%;}
      &.active .middle_line         {   width: 0; left: 50%;}

      @include m1000 {
            display: block;
      }
      @include m320 {
            right: 5px;
      }

}




/*---------------------- 
    OFFER STYLES
------------------------*/
.offer {
    height: 100%;
    min-height: 500px;
    max-height: 600px;
    background: url('../images/offerBg.jpg') no-repeat center center;
    background-size: cover;
    padding: 0;
    position: relative;
    @include m1000 {
       height: auto;
       max-height: 1000px; 
       padding: 20px 0 40px;
    }
    .wrapper {
        height: 100%;
        &:before {
            content: "";
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .logo {
        display: none;
        @include m1000 {
           display: block;
           margin: 0 40px;
        }
    }
    ul {
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        width: 580px;
        padding: 0;
        margin: 0;
        list-style-type: none;
        @include m1000 {
           display: block;
           margin: 20px auto;
           width: 480px;
        }
        @include m600 {
            width: 100%;
            padding: 0 10px;
        }
        li {
            font: 34px $ibr;
            color: #fff;
            padding-left: 35px;
            margin-bottom: 20px;
            position: relative;
            @include m1000 {
               font-size: 28px;
               margin-bottom: 10px;
            }
            @include m600 {
               font-size: 22px;
               margin-bottom: 10px;
            }
            @include m320 {
               font-size: 20px;
               margin-bottom: 10px;
            }
            &:before {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                background-image: url("../images/check.png");
                background-size: 100% 100%;
                @include position(absolute, 10px, auto, auto , 0px);
            }
        }
    }
    form {
        margin-left: 50px;
        @include m1000 {
           display: block;
           margin: 20px auto 0;
        }
    }
}


form {
    width: 320px;
    background-color: #FFF;
    padding: 30px 25px;
    display: inline-block;
    vertical-align: middle;
    @include m360 {
        width: 300px;
    }
    p {
        font: 24px/30px $ibr;
        color: $greyD;
        margin-bottom: 20px;
        display: block;
        text-transform: uppercase;
        text-align: center;
        small {
            display: block;
            font: 14px $ms;
            text-transform: none;
            margin-top: 10px;
        }
    }
    span {
        display: block;
        height: 50px;
        background-color: #EFEFEF;
        margin-bottom: 15px;
        width: 100%;
        position: relative;
        border: 1px solid #EFEFEF;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        &:after {
            width: 12px;
            height: 16px;
            content: "";
            display: block;
            @include position(absolute, 0, 20px, 0, auto);
            margin: auto;
            background-image: url("../images/inputPerson.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        &.tel:after {
             background-image: url("../images/inputTel.png");
        }
    }
    input {
        height: 100%;
        width: 100%;
        border: none;
        background-color: #EFEFEF;
        font: 12px 'Verdana';
        padding-left: 20px;
        @include transition(all, .1s);
        -webkit-border-radius: 10px;
                border-radius: 10px;
        &:hover {
            background-color: #fff;
        }
    }
    button {
        background-color: $yellow;
        margin-bottom: 0;
        text-align: center;
        width: 100% !important;
        font-size: 18px !important;
    }
}
.popup {
width: 320px;
display: block;
margin: 0 auto;
}

/*---------------------- 
    INFOBLOCKS STYLES
------------------------*/
.infoBlocks {
      @include flex($alignI: top, $justify: center, $wrap: wrap);
      
      .infoBlock  {
                  margin-bottom: 20px;
                  padding: 0 20px;
                  text-align: center;
            &_icon {
                        width: 150px;
                        height: 150px;
                        text-align: center;
                        margin: 10px auto 15px;
            }
        }

    &.two  .infoBlock   {    width: 50%;}
    &.three  .infoBlock   {    width: 33%;}
    &.four .infoBlock   {    width: 25%;}
    &.five .infoBlock  {    width: 20%;}
}


.numbers {
    background: url('../images/numbersBg.jpg') no-repeat center center;
    background-size: cover;
    h2 {
        margin-bottom: 40px;
    }
    .infoBlock {
        text-align: left;
        margin-top: 25px;
        padding: 0 2px 0 4px;
        span {
            display: block;
            font: 30px $ibr;
            color: $yellow;
            margin-bottom: 5px;
        }
        p {
            font: 16px/18px $ms;
            color: #FFF;
        }
        @include m750 {
            width: 33% !important;
            text-align: center;
        }
        @include m500 {
            width: 50% !important;
        }
    }

}

.setUp {
    padding-bottom: 0;
    .products {
        margin-top: 35px;
        margin-bottom: 65px;
    }
    .setUpBg {
        background-color: #f6f7f8;
        padding-bottom: 65px;
        border-bottom: 4px solid #fff;
        .products {
            margin-bottom: 0;
        }
    }
}


.products {
    .row {
        @include flex($wrap: wrap, $alignI: start, $justify: center);
        &:last-of-type + hr {
            display: none;
        }   
    }
    .prodBlock {
           &:nth-of-type(4n + 2) {
               border-right: 1px solid #E8E8E8;
               border-left: 1px solid #E8E8E8;
           }
           &:nth-of-type(4n + 3) {
               border-right: 1px solid #E8E8E8;
           }
           &:last-of-type {border: none;}
         width: 25%;
         @include m1100 {
             width: 33%;
             border: none !important;
             &:nth-of-type(4n + 2),
             &:nth-of-type(4n + 3) { border: none !important;}
         }
         @include m600 {
             width: 50%;
         }
         @include m500 {
            margin-bottom: 20px;
             width: 300px;
             padding: 20px 10px;
             -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
                     box-shadow: 0 0 4px rgba(0,0,0,.2);
             -webkit-border-radius: 6px;
                     border-radius: 6px;
         }
    }
    &.five .prodBlock {
        width: 20%;
        @include m1100 {
             width: 33%;
        }
        @include m600 {
             width: 50%;
         }
         @include m500 {
            margin-bottom: 20px;
             width: 300px;
             padding: 20px 10px;
             -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
                     box-shadow: 0 0 4px rgba(0,0,0,.2);
             -webkit-border-radius: 6px;
                     border-radius: 6px;
         }
    }
    @include m1100 {
         @include flex($wrap: wrap, $alignI: start, $justify: space-around);
     }
}

.prodBlock {
   padding: 0 6px;
   &__img {
       width: 100px;
       height: 100px;
       margin: 0 auto 20px;
       -webkit-border-radius: 50%;
               border-radius: 50%;
       img {
           min-width: 100%;
           min-height: 100%;
       }
   }
   h3 {
       font: 22px $ibr;
       color: $blue;
   }
   ul {
       list-style-type: none;
       text-align: center;
       li {
            font: 14px/22px $ms;
            margin-bottom: 8px;
           strong {
               color: $blue;
           }
       }
   }
}

hr {
   display: block;
   width: 100%;
   margin: 20px 0;
   border: none;
   border-top: 1px solid #E8E8E8;
}
.products.five {
.prodBlock:nth-of-type(5) + hr {display: none;}
.prodBlock:nth-of-type(4n) {
   border-right: 1px solid #E8E8E8;
}
}
.emergency {
    background: #EEF8FA url("../images/emergencyBg.jpg") no-repeat center bottom;
    h2 {
        width: 103%;
        margin-left: -1%;
    }
    .emergencyPrice {
        margin-top: 30px;
        background-color: #FFF;
        padding: 35px;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
        -moz-column-gap: 50px; /* Firefox */
        column-gap: 50px;
        list-style-type: none;
        text-align: left;
        box-shadow: 0px 0px 27px 0px rgba( 31, 142, 164, .2 );
        @include m750 {
             -webkit-column-count: 1; /* Chrome, Safari, Opera */
            -moz-column-count: 1; /* Firefox */
            column-count: 1;
            -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
            -moz-column-gap: 0px; /* Firefox */
            column-gap: 0px;
        }
        @include m500 {
            padding: 25px 20px;
        }
        @include m360 {
            padding: 20px 15px;
        }
        li {
            font: 16px/24px $ms;
            border-bottom: 1px solid #E8E8E8;
            width: 100%;
            padding: 8px 0 2px;
            padding-right: 95px;
            position: relative;
            @include m750 {
                 &:last-of-type {border: none;}
            }
            @include m500 {
                font: 15px/22px $ms;
            }
            span {
                display: inline-block;
                vertical-align: bottom;
                &.price {
                    color: #177B8F;
                    font-family: $msb;
                    position: absolute;
                    bottom: 0px;
                    right: 0;
                }
            }
        }
    }
    h3 {
        margin-bottom: 20px;
        margin-top: 40px;
        & + p {
            margin-bottom: 25px;
        }
    }
}




/*-------------------------------------*/

@import 'abonents';
@import 'trust';
@import 'map';
@import 'footer';
@import 'videos';